In [1]:
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

from astropy.io import fits
from astropy.table import Table
from astropy.wcs import WCS

In [2]:
with fits.open('/data/bwedig/STIPS/nb_gals_000.fits') as hdu_list:
    hdu_list.verify()
    hdu_list.info()
    primary_data = hdu_list['PRIMARY'].data
    bin_table_data = hdu_list[1].data
    primary_header = hdu_list['PRIMARY'].header
    bin_table_header = hdu_list[1].header

Filename: /data/bwedig/STIPS/nb_gals_000.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU     33   5R x 12C   [K, D, D, D, D, D, 6A, D, D, D, D, 1A]

In [3]:
from pprint import pprint
pprint(primary_header)
print('---------------------------------------------')
pprint(bin_table_header)

SIMPLE  =                    T / conforms to FITS standard
BITPIX  =                    8 / array data type
NAXIS   =                    0 / number of array dimensions
EXTEND  =                    T
---------------------------------------------
XTENSION= 'BINTABLE'           / binary table extension
BITPIX  =                    8 / array data type
NAXIS   =                    2 / number of array dimensions
NAXIS1  =                   87 / length of dimension 1
NAXIS2  =                    5 / length of dimension 2
PCOUNT  =                    0 / number of group parameters
GCOUNT  =                    1 / number of groups
TFIELDS =                   12 / number of table fields
TTYPE1  = 'id      '
TFORM1  = 'K       '
TTYPE2  = 'ra      '
TFORM2  = 'D       '
TTYPE3  = 'dec     '
TFORM3  = 'D       '
TTYPE4  = 'F106    '
TFORM4  = 'D       '
TTYPE5  = 'F129    '
TFORM5  = 'D       '
TTYPE6  = 'F184    '
TFORM6  = 'D       '
TTYPE7  = 'type    '
TFORM7  = '6A      '
TTYPE8  = 'n       '
TFORM8  = 'D       '
TTYPE9  = 're      '
TFORM9  = 'D       '
TTYPE10 = 'phi     '
TFORM10 = 'D       '
TTYPE11 = 'ratio   '
TFORM11 = 'D       '
TTYPE12 = 'notes   '
TFORM12 = '1A      '
TYPE    = 'multifilter'

In [4]:
bin_table = Table(bin_table_data)
bin_table.show_in_notebook()

In [8]:
with fits.open('/data/bwedig/STIPS/nb_gals_000_01_conv_F106.fits') as hdu_list:
    hdu_list.verify()
    hdu_list.info()
    primary_data = hdu_list['PRIMARY'].data
    bin_table_data = hdu_list[1].data
    primary_header = hdu_list['PRIMARY'].header
    bin_table_header = hdu_list[1].header

Filename: /data/bwedig/STIPS/nb_gals_000_01_conv_F106.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU       4   ()
  1                1 BinTableHDU     31   5R x 10C   [D, D, D, 6A, D, D, D, D, K, 1A]

In [9]:
bin_table = Table(bin_table_data)
bin_table.show_in_notebook()